.statusBar {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5000000;

  background-color: #ffffffcc;

  padding: 0 6px;
  color: #222;

  color: var(--color-ink-l1);
  font-family: var(--font-serif);
  font-size: 10pt;
}
