.ribbon {
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: row;
  padding-right: 12px;

  .docButton {
    height: 100%;
    width: 240px;
    padding: 0 8px;
    height: 32px;

    .inner {
      justify-content: start;
    }
    
    .label {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 8px;

      > .name {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: start;
      }
    }
  }

  .historyRibbon {
    margin: 0 16px;
    margin-left: auto;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;

    background-color: var(--color-gray-100);
  }

  .documentRibbon {
    flex: 1;
  }
}
