:root {
  --color-primary-l3: #f8f1ff;
  --color-primary-l2: #E3D2F5;
  --color-primary-l1: #C1A0E2;
  --color-primary: #9D73C9;
  --color-primary-d1: #7C4DAB;
  --color-primary-d2: #633395;

  --color-gray-50: oklch(98.5% 0.002 247.839);
  --color-gray-100: oklch(96.7% 0.003 264.542);
  --color-gray-200: oklch(92.8% 0.006 264.531);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-400: oklch(70.7% 0.022 261.325);
  --color-gray-500: oklch(55.1% 0.027 264.364);
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-700: oklch(37.3% 0.034 259.733);
  --color-gray-800: oklch(27.8% 0.033 256.848);
  --color-gray-900: oklch(21% 0.034 264.665);
  --color-gray-950: oklch(13% 0.028 261.692);

  // TODO: Remove secondary.
  --color-secondary-l6: #f5f5f5;
  --color-secondary-l5: #eee;
  --color-secondary-l4: #dfdfdf;
  --color-secondary-l3: #ccc;
  --color-secondary-l2: #aaa;
  --color-secondary-l1: #888;
  --color-secondary: #777;
  --color-secondary-d1: #666;
  --color-secondary-d2: #555;
  --color-secondary-d3: #444;
  --color-secondary-d4: #333;

  --color-success: #28a745;
  --color-success-d1: #218838;
  --color-success-d2: #144d20;
  --color-danger-l3: #f8d9dc;
  --color-danger: #dc3545;
  --color-danger-d1: #c82333;
  --color-danger-d2: #7c141e;

  --color-bg: var(--color-gray-100);
  --color-frame: var(--color-gray-200);
  --color-ink: var(--color-gray-900);
  --color-ink-l1: var(--color-gray-600);
  --color-ink-l2: var(--color-gray-400);

  --font-mono: Consolas, 'Courier New', Courier, monospace;
  --font-sans: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-serif: 'Alegreya', 'Times New Roman', Times, serif;
}
